.logo_summit{
  justify-content: flex-start;
}

.navbar_collapse_end{
  justify-content: flex-end;
}

.nav_link_font{
  font-size: large;
}

.nav_link_font:hover{
  text-decoration: underline;
  text-decoration-color: #F200DE;
  text-decoration-thickness: 3px;
}