.esummit-registration {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: start;
  background-image: url('./form_background.png');
  background-size: cover;
  background-position: center;
  overflow-x: hidden;
  font-family: "Oxanium", sans-serif;
}

.esummit-registration .logo {
  height: 80px;
  margin: 20px;
}

.form-container {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form-container .heading {
  font-size: 40px;
  line-height: 60px;
  height: 70px;
  letter-spacing: 2%;
  font-weight: 600;
  text-decoration: underline #F200DE;
  color: white;
}

.registration-form {
  width: 70vw;
  border-radius: 49px;
  backdrop-filter: blur(2px);
  background-color: rgba(255, 255, 255, 0.1);
  padding: 7.5vh 20vh;
  color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

/* input design */
.registration-form-unit{
  width: 40%;
  position: relative;
  height: 55px;
  overflow: hidden;
  margin: 10px 0;
}

.registration-form-unit input[type="text"] {
  width: 100%;
  height: 100%;
  color: #fff;
  padding-top: 14px;
  border: none;
  background-color: transparent;
  font-size: 20px;
}
.registration-form-unit label {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  pointer-events: none;
  border-bottom: 1px solid white;
}
.registration-form-unit label::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0px;
  width: 100%;
  height: 100%;
  border-bottom: 3px solid #F200DE;
  transform: translateX(-110%);
  transition: all 0.3s ease;
}

.content-name {
  position: absolute;
  bottom: 0px;
  left: 0px;
  padding-bottom: 5px;
  transition: all 0.3s ease;
}
.registration-form-unit input:focus {
  outline: none;
}
.registration-form-unit input:focus + .label-name .content-name,
.registration-form-unit input:valid + .label-name .content-name {
  transform: translateY(-100%);
  font-size: 14px;
  left: 0px;
  color: #F200DE;
}
.registration-form-unit input:focus + .label-name::after,
.registration-form-unit input:valid + .label-name::after {
  transform: translateX(0%);
}

.registration-form .batch {
  width: 100%;
  margin-top: 20px;
  font-size: 17px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.registration-form .batch .batch-options{
  display: flex;
  gap: 50px;
  font-size: 20px;
}

.registration-form .batch .batch-options input[type="radio"] {
  height: 15px;
  width: 15px;
  margin-right: 10px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: 50%;
  border: 2px solid #F200DE; /* Border color */
}

.registration-form .batch .batch-options input[type="radio"]:checked {
  background-color: #F200DE; /* Dot color */
}

.registration-form input[type="checkbox"]{
  font-size: 2.5vh;
  margin-bottom: 2.5vh;
  margin-top: 1vh;
  margin-right: 2vh;
  width: 17px;
  height: 17px;
}

.registration-form .btn-container {
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  gap: 50px;
}

.registration-form .btn-container button {
  padding: 10px 40px;
  margin-top: 40px;
  border-radius: 0px 28px 0px 28px;
  background: linear-gradient(to right, #F200DE, #BA00AB, #8C0080);
  border: 2px solid #FF00EA;
  font-size: 25px;
  line-height: 40px;
  color: white;
  cursor: pointer;
}

/* Events Section */

.registration-form .events {
  width: 70vw;
  text-align: center;
}

.registration-form .events-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  max-height: 40vh;
}

.registration-form .events-section {
  text-align: center;
}


@media screen and (max-width: 992px) {
  .esummit-registration {
    width: 100vw;
    height: 100vh;
  }
  
  .esummit-registration .logo {
    height: 70px;
    margin: 20px;
  }
  
  .form-container {
    width: 100vw;
    height: 100%;
    display: block;
    transform: translate(5%);
  }
  
  .form-container .heading {
    width: 90%;
    font-size: 35px;
    line-height: 50px;
    height: 60px;
  }
  
  .registration-form {
    width: 90vw;
    border-radius: 35px;
    padding: 3vh 5vh;
    flex-direction: column;
  }
  
  /* input design */
  .registration-form-unit{
    width: 100%;
    height: 55px;
    overflow: hidden;
    margin: 10px 0;
  }
  
  .registration-form-unit input[type="text"] {
    padding-top: 26px;
    font-size: 21px;
  }
  
  .content-name {
    padding-bottom: 3px;
  }
  
  .registration-form-unit input:focus + .label-name .content-name,
  .registration-form-unit input:valid + .label-name .content-name {
    font-size: 16px;
  }
  
  .registration-form .batch {
    margin-top: 10px;
    font-size: 20px;
  }
  
  .registration-form .batch .batch-options{
    gap: 40px;
  }
  
  .registration-form .batch .batch-options input[type="radio"] {
    height: 17px;
    width: 17px;
    margin-right: 10px;
    appearance: none;
  }
  
  .registration-form .btn-container {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 50px;
  }
  
  
  /* Events Section */
  
  .registration-form .events {
    width: 90vw;
    text-align: center;
  }
  
  .registration-form .events-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-height: 100vh;
  }
  
  .registration-form .events-section {
    text-align: center;
    width: 80vw;
  }
}
