.content {
    display: flex;
    justify-content: space-between;
  }
  
  .segment {
    flex-basis: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-right: 2.5px;
    margin-bottom: 10px;
    color: #ffffff;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border-radius: 10px;
    background: linear-gradient(45deg, #ff7073, #7099cc);
    padding: 20px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  }
  
  .content_span {
    display: contents;
  }
  
  .text {
    text-align: center;
    margin-bottom: 10px;
  }
  
  .about_text {
    font-size: 40px;
    font-weight: bold;
    color: #ffffff;
    margin-bottom: 10px;
    text-align: center;
    position: relative;
    text-decoration: underline;
    text-decoration-color: #f200de;
    transition: color 0.3s ease;
  }
  
  .about_header {
    margin-top: 100px;
    margin-bottom: 60px;
  }
  
  .content_container {
    max-width: 80%;
    margin: auto;
  }
  
  @media only screen and (max-width: 768px) {
    .responsive {
      display: none;
    }
    .segment {
      text-align: center;
      flex-basis: auto;
    }
    .segment:hover {
      transform: scale(1.05);
      box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5);
    }
    .about_text:hover {
      color: #f200de;
    }
  }
  