.recruitment{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 5vh;
  font-family: 'Plus Jakarta Sans', sans-serif;
}

.recruitment-head{
  display: flex;
  width: 90vw;
  justify-content: space-between;
  align-items: center;
}

.recruitment-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5vh;
  color: white;
}

.recruitment-content .club-name{
  color: rgb(255,255,255);
  font-size: 2.5vh;
  padding-top: 2vh 0;
  text-align: center;
}

.recruitment-content .recruitment-heading{
  color: pink;
  width: 70vw;
  font-size: 7vh;
  font-weight: 800;
  text-align: center;
}

.recruitment-content .rec-con-body{
  padding-top: 5vh;
  text-align: center;
  line-height: 5vh;
  width: 75%;;
  font-size: 2.4vh;
}

.recruitment-content .rec-con-body ul{
  list-style: none;
}

.rec-team-container{
  display: flex;
  flex-wrap: wrap;
  padding: 10vh 0vh;
  display: flex;
  width: 75vw;
  justify-content: space-evenly;
}

.rec-team-card {
  width: 22vw;
  margin: 20px 0;
  height: 50vh;
  margin: 25px 0vw;
  transition: all 0.3s ease;
  position: relative;
  overflow: hidden;
}

.rec-team-card:hover{
  cursor: pointer;
  transform: scale(1.05);
  transition: all 0.3s ease;
}

.event-card-background-light{
  position: absolute;
  background: linear-gradient(270deg, #3A64FA 47.4%, #F963BC 92.87%);
  border-radius: 50%;
  filter: blur(70px);
  top: -2vw;
  left: -2vw;
  transition: all 0.2s ease;
}

.rec-team-card:hover .event-card-background-light{
  top: 60%; 
  left: 60%;
}

@media (max-width: 600px) {
  .recruitment{
    padding: 7vh 10vw 0vh;
    overflow-x: hidden;
    width: 100vw;
  }
  
  .recruitment-head{
    width: 80vw;
  }
  
  .recruitment-content {
    padding-top: 8vh;
  }
  
  .recruitment-content .club-name{
    color: rgb(255,255,255);
    font-size: 2.4vh;
    padding-top: 0vh 0;
    text-align: center;
    width: 100%;
  }
  
  .recruitment-content .recruitment-heading{
    width: 100vw;
    font-size: 3.5vh;
    font-weight: 800;
    text-align: center;
    padding-top: 3vh;
  }
  
  .recruitment-content .rec-con-body{
    line-height: 4vh;
    width: 90%;
    font-size: 2vh;
  }
  
  .recruitment-content .rec-con-body ul{
    list-style: none;
    padding-left: 0;
  }
  
  .rec-team-container{
    display: flex;
    flex-wrap: wrap;
    padding: 0vh;
    display: flex;
    justify-content: center;
    width: 100vw;
  }

  .rec-team-card {
    width: 75vw;
    margin: 20px 0;
    height: 20vh;
  }
}